.boxMain {
  margin-top: 10px;
}
.boxMain form {
  padding: 10px;
  display: flex;
  align-items: center;
  max-width: 300px;
  margin: 0 auto;
}

.boxMain p {
  font-weight: bolder;
}

.boxMain textarea {
  margin-left: 20px;
  height: 35px;
  border: none;
  resize: none;
}

.boxMain button {
  border: none;
  height: 39px;
  width: 39px;
}
button {
  background: rgb(109, 101, 255);
}
button:hover {
  cursor: pointer;
  background: rgb(154, 176, 255);
}
.boxMain div {
  text-align: center;
}
